
header{
    background-color: var(--bg-secondary);
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg-primary);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

header::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: 6px;
    border: 2px dashed var(--text-primary-light);
    border-radius: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: var(--bg-primary);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    border-bottom: 2px dashed var(--bg-primary);
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}